body{
    background-image: url("../images/muttnBackground.jpg");
    color: white;
    margin: 0;
    width: 95%;

}
h1{
    text-align: center;
}

section{
    display: flex;
    margin-left: 100px;
    flex-wrap: wrap;
}
div > img{
    max-height: 400px;
    padding: 20px;
    background: white;
    border: dashed grey 2px;

}
footer > img{
    display: block;
margin: auto;
    height: 400px;
}